/*base.css*/

.header {
  right:  5%;
  top: 20%;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items:center;
  background-color: #314366;
}

.main-img-cont{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 10rem;
}

.logo {
  margin: 0.5rem;
  width: 5rem;
  height: 3rem;
}

.main-menu {
	width: 100%;
  display: flex;
  align-items:  center;
  justify-content:  flex-end;
  margin-right: 1rem; 
}

.main-menu-item {
  margin-left: 1rem;
  font-family: "roboto slab", serif;
  font-size: 1rem;
}

.back:link, .back:visited {
  background-color: #f6f6f6;
  color: #314366;
  border-radius: 0.7rem; 
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center; 
  text-decoration: none;
  display: flex;
  font-family: "roboto slab", serif;
  font-size: 1rem;
}