/*base.css*/
.body{
  font-family:"quicksand", sans-serif;
}

.header {
  padding: 1rem;
  color: #314366;
  background-color: #314366;
  box-shadow: 0 0 5px;
  display: flex;
}

.logo {
}

.logo-img {
  height: 2rem;
  margin-left: 1rem;
}

.menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.menu-title {
  display: none;
}

.menu-figure{
  display: none;
}

.menu-list{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.main-menu-item {
  font-family: "roboto slab", serif;  
}

.back:link, .back:visited {
  background-color: #f6f6f6;
  color: #314366;
  border-radius: 0.5rem; 
  padding: 0.5rem;
  margin: 1rem;
  text-align: center; 
  text-decoration: none;
  font-family: "roboto slab", serif;
  font-size: .9rem;
}

.back:hover {
  background-color : #5589b5;
  transition: .3s;
}

.main {
  padding: 4rem 0;
  max-width: 66rem;
  margin: 0 auto;
}

@media (max-width: 68rem) {
  .main {
    padding: 2rem;
  }
}

@media (max-width: 49rem) {
  .menu-title {
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    display: block;
  }

  .menu-figure {
    display: block;
  }

  .menu-img {
    height: 2rem;
  }

  .menu-list {
    display: none;
  }

  .main {
    padding: 1rem;
  }
}


