/*categoria*/

.tudo{
  width: 100%;
  flex-direction: column;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 25% 25%;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-row-gap: 5rem;
  grid-column-gap: 15rem;
  background-color: #F6F6F6;
}
.eletronica{
  font-family: "roboto slab", serif;
  font-size: 2.4rem;
  background-color: #F6F6F6;
  font-size: 1.5rem;
  justify-items: center;
  display: inline-grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  color: #314366;
  border-style: solid;
  border-width: 2px;
  border-color: #081326;
  border-top: none;
}

.em{
  display: flex;
}

.pwm{
  display: flex;
}
.chamada_eletronica{
  font-family: "quicksand", sans-serif;
  font-size:1.2rem;
  justify-items: center;
  display: grid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: span-2;
  grid-row-end: 3;
  background-color: #F6F6F6;
  color: #353333;
}

.projetos_eletronica{
  padding-left: 0.5rem;
  font-family: "roboto slab", serif;
  font-size: 1.3rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #F6F6F6;
  color: #353333;
  padding-bottom: 0.5rem;
}
.img_em{
  display: flex;
  justify-items: start;
  border-style: solid;
  border-width: 1px;
  border-color: #081326;
  
}
.txt_em {
  font-family: "quicksand", sans-serif;
  font-size:1rem;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-self: center;
  background-color: #F6F6F6;
  color: #353333;
  padding-left: 0.5rem;
}
.img_pwm{
  align-self: flex-end;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  border-style: solid;
  border-width: 1px;
  border-color: #353333;
  border-top: none;
}
.txt_pwm {
  font-family: "quicksand", sans-serif;
  font-size:1rem;
  text-decoration: none;
  font-weight: bold;
  align-self: center;
  background-color: #F6F6F6;
  color: #353333;
  padding-left: 0.5rem;
}