/* index.html */

hr {
      color: #353333;
      background-color: #353333;
      height: 0.1%
      margin: 15rem;
    }

.call{
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: #f6f6f6;
}

.call-figure{
  width:33%;
}

.call-img{
  width: 100%;
  border-radius: 59%; 
}

.call-text {
  width: 66%;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.3rem;
  color: #353333;
  font-family: "roboto slab", serif;
}

.category-list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.category-item {
  padding: .5rem;
  display: flex;
}

.category-cover {
}

.category-image {
  width: 8rem;
  height: 8rem;
  border-radius: 5%;
  border-bottom-left-radius: 30%;  
}

.category-description {
  margin-left: .5rem;
}

.category-title {
  font-family: "roboto slab", serif;
}

.category-link:link, .category-link:visited {
  background-color: #f6f6f6;
  color: #314366;
  border-radius: 0.5rem; 
  padding: 0.5rem;
  margin: 1rem;
  text-align: center; 
  text-decoration: none;
  font-family: "roboto slab", serif;
  font-size: .9rem;
  border-style: solid; 
  border-color: #5589b5;
}

.category-link:hover {
  background-color : #5589b5;
  transition: .3s;
}

.category-body {
  margin-top: .5rem;
}

.insta {
  width: 3rem;
  height: 2.5rem;
  border-radius: 50%;
}

.show {
  display: flex;
  padding-left: center;
}

.show li{
  display: flex;
  width: 15rem;
  padding-right: 20px;
  font-size: 0.9rem;
  height: 55px;
  justify-content: center
}

.show li p{
  line-height: 1rem;
  border-left: 1px solid #000;
  padding-left: 10px;
  -webkit-text-emphasis-style: open;
}

.redes-sociais {
  padding: 10px;
  display: flex;
  align-content: center;
}

@media (max-width: 68rem) {
  .category-list {
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 49rem) {
  .call-figure {
    width: 66%;
  }

  .call-text {
    width: 100%;
  }

  .category-list {
    grid-template-columns: 1fr;
  }
  .show li{
    display: flex;
    width: 13rem;
    padding-right: 10px;
    font-size: 0.7rem;
  }

  .show li p{
    line-height: 1rem;
    border-left: 1px solid #000;
    padding-left: 5px;
    -webkit-text-emphasis-style: open;
}
  .insta {
    width: 2.5rem;
    height: 2rem;
    border-radius: 50%;
}
}
