/* projeto.html */

.projeto-main{
	display: flex;
	background-color: #F6F6F6;
	flex-wrap: wrap;
	justify-content: center;

}

.cover {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	width: 100%;
}

.cover-image {
}


.projeto-texto{
	font-family: "quicksand", sans-serif;
	font-size:1.1rem;
	color: #353333;
	margin-left: 2rem;
	max-width: 50rem;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
	margin: 1rem;

}

.projeto-title {
	font-weight: bold;
	font-family: "roboto slab", serif;
	font-size:2.5rem;
	color: #314366;
	flex-wrap: wrap;
	margin-top: 1.4rem;
	justify-content: center;
}


.table {
	max-width: 50rem;
	margin-top: 1rem;
}

.row {
}

.row:nth-child(odd) {
	background-color: #ffffff;
}

.cell {
	padding: 1rem;
}

@media (max-width: 68rem) {
	.projeto-main {
		flex-direction: column;
		align-items: center;
	}

	.projeto-texto{
		margin-top: 1rem;
		margin-left: 0;
	
	}
	

	.projeto-title {
		text-align: center;
	}
}