/* projeto.html */

.projeto-main{
	display: flex;
	background-color: #F6F6F6;
	flex-wrap: wrap;
	justify-content: center;

}

.cover {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	width: 100%;
}

.cover-image {
}


.projeto-texto{
	font-family: "quicksand", sans-serif;
	font-size:1.1rem;
	color: #353333;
	margin-left: 2rem;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 50rem

}

.projeto-title {
	font-weight: bold;
	font-family: "roboto slab", serif;
	font-size:2.5rem;
	color: #314366;
	flex-wrap: wrap;
	margin-top: 1.4rem;
	justify-content: center;
}


.subtitulo{
	font-family: "quicksand", sans-serif;
	font-size:1.1rem;
	font-weight: bold;
	color: #5589B5;
	max-width: 50rem
}

.descricao {
	margin-top: 1rem;
	margin-left: 0.5rem;
}

.equipe {
	margin-top: 1rem;
	margin-left: 0.5rem;
}

.ferramentas {
	margin-top: 1rem;
	margin-left: 0.5rem;
}

.laboratorio {
	margin-top: 1rem;
	margin-left: 0.5rem;
}

@media (max-width: 68rem) {
	.projeto-main {
		flex-direction: column;
		align-items: center;
	}

	.projeto-texto{
		margin-top: 1rem;
		margin-left: 0;
	
	}
	

	.projeto-title {
		text-align: center;
	}
}